<section>
  <header>
    <h2 class="text-lg font-medium text-gray-900">Profile Information</h2>

    <p class="mt-1 text-sm text-gray-600">Update your account's profile information and email address.</p>
  </header>

  <form method="post" action="{{ path('app_profile') }}" class="mt-6 space-y-6">
    <div>
      <label for="name" value="Name" class="block font-medium text-sm text-gray-700">Name</label>
      <input id="name" name="name" type="text" class="mt-1 block w-full border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm" value="old value" required autofocus autocomplete="name" />
      <ul class="mt-2 text-sm text-red-600 space-y-1">
        <li>message</li>
      </ul>
    </div>

    <div>
      <label for="email" value="Email" class="block font-medium text-sm text-gray-700">Email</label>
      <input id="email" name="email" type="email" class="mt-1 block w-full border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm" value="old value" required autofocus autocomplete="email" />
      <ul class="mt-2 text-sm text-red-600 space-y-1">
        <li>message</li>
      </ul>
    </div>

    <div class="flex items-center gap-4">
      <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Save</button>

      <p x-data="{ show: true }" x-show="show" x-transition x-init="setTimeout(() => show = false, 2000)" class="text-sm text-gray-600">Saved</p>
    </div>
  </form>
</section>
